<header class="header">
  <div class="container header__container">
    <a routerLink="/" class="header__logo" alt="logo Pizza Cheff">
      <img
        class="header__img"
        src="assets/images/pizza.png"
        srcset="img/pizza@2x.png 2x, img/pizza@3x.png 3x"
      />
      <span class="header__title">Pizza Cheff</span>
    </a>

    <nav>
      <ul class="menu">
        <li class="menu__item" *ngFor="let item of menuLinks">
          <a class="menu__link" [routerLink]="item.routerLink">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
